.title{
    color: red;
    text-align: center;
}
.subtitle{
    color: blue;
    size: 12px;
    text-align: center;   
}
.container{
    border: 1px solid grey;
}
.container-child{
    margin: 10px;
    background-color: hotpink;
}
.row{
    display: inline-flex;

}